.animated-gradient-text {
  background: linear-gradient(
    270deg,
    #ff6ec4,
    #7873f5,
    #4ade80,
    #facc15,
    #f87171,
    #3b82f6,
    #a855f7
  );
  background-size: 1400% 1400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-border {
  background: linear-gradient(
    270deg,
    #ff6ec4,
    #7873f5,
    #4ade80,
    #facc15,
    #f87171,
    #3b82f6,
    #a855f7
  );
  background-size: 1400% 1400%;
  animation: gradientMove 10s ease infinite;
}
